        <h1 class="section-contact__main-heading">Contacto</h1>
        <p class="contact__paragraph">Envíanos tus comentarios y nos pondremos en contacto.</p>
        <div class="form-container">
        <form action="/register" autocomplete="off" class="form" method="POST">
            <div class="form__label-container">
                <label for="name" class="form__label">Nombre Completo</label>
                <input type="text" name="name" id="name" class="form__input" required>
            </div>
            <div class="form__label-container">
                <label for="email" class="form__label">E-mail</label>
                <input type="text" name="email" id="email" class="form__input" required>
            </div>
            <div class="form__label-container">
                <label for="comments" class="form__label">Comentarios</label>
                <textarea type="text" name="comments" id="comments" class="form__text-area" required></textarea>
            </div>
            <button type="submit" class="form__btn-submit">Enviar</button>


        </form>
        </div>