        <section class="section-us">
            <h1 class="section-us__main-heading">Nosotros</h1>
            <div class="section-us__paragraph-container">
                <h2>Darío Ernesto Roca</h2>
                <figure class="section-us__image-container">
                    <img class="section-us__image" src="/img/content/dario-ernesto-roca.png" alt="Darío Ernesto Roca">
                    <!-- <figcaption>Darío Ernesto Roca</figcaption> -->
                </figure>
                <p class="section-us__main-paragraph"><a href="mailto:darioernesto.roca@gmail.com" target="_blank" class="section-us__link">darioernesto.roca@gmail.com</a> | <a href="https://wa.me/?text=Hola,%20Universo.%20Este%20es%20un%20vínculo%20a%20WhatsApp%20del%20proyecto%20integrador%20Juguetería%20Cósmica" target="_blank" class="section-us__link">WhatsApp: (+57) 3004277281</a></p>
                <p class="section-us__main-paragraph"><a href="http://www.linkedin.com/in/dario-ernesto-roca" target="_blank" class="section-us__link">LinkedIn</a> | <a href="https://github.com/darioernesto-roca" target="_blank" class="section-us__link">GitHub</a></p>
                <p class="section-us__main-paragraph">Escritor de código y letras. Autor del libro <a href="https://www.amazon.com/Aluna-%C3%BAltimo-tayrona-amanecer-Spanish/dp/150035516X" target="_blank" class="section-us__link">Aluna y el último tayrona: Desde el primer amanecer hasta el fin del mundo (Spanish Edition)</a></p>
                <p class="section-us__main-paragraph">Soy un creativo y apasionado por la literatura y el desarrollo de Software. Como Full Stack web developer he participado en la creación de páginas web, blogs de revistas y de tiendas online (e-commerce). Amo aprender nuevos lenguajes, no solamente los de programación: nivel de inglés C1 (Avanzado) y francés B2 (Intermedio) y un poco de hebreo (autodidacta). Creo páginas web utilizando HTML y CSS, además puedo incorporar dinamismo e interactividad con tecnologías como JavaScript vainilla y Node.js.</p>
                
                <h3>Habilidades técnicas</h3>
                <ul>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JavaScript vainilla</li>
                    <li>Node.js</li>
                    <li>Rest</li>
                    <li>nomenclatura BEM</li>
                    <li>diseño mobile</li>
                    <li>GitHub</li>
                    <li>WordPress</li>
                    <li>Elementor</li>
                    <li>Photoshop</li>
                </ul>
                <h3>Proyectos</h3>
                
                <h4>Proyecto e-commerce Juguetería Cósmica</h4>
                <p class="section-us__main-paragraph">Sitio web de e-commerce para la venta on-line de juguetes, totalmente funcional, elaborado con técnicas SPA (Single Page Application), utilizando SASS para la aplicación de estilos y código asincrónico AJAX en un servidor Node.js.</p>
                
                <h4>Proyecto Presentación de Personajes</h4>
                <p class="section-us__main-paragraph">Página de presentación de 8 personajes de un video juego, maquetado con HTML5 y CSS3. Cuenta con un botón, programado con JavaScript para agregar el nombre del personaje que el usuario quiere que se presente o se puede elegir a cada uno haciendo clic en la casilla correspondiente.</p>

                <h4>Proyecto Formulario de Inscripción a Gimnasio</h4>
                <p class="section-us__main-paragraph">Elaboración, por medio de HTML5 y CSS3 del maquetado y diseño responsive de una página de inscripción a un gimnasio, generando tres estilos diferentes (default, urbano y retro) y habilitando la opción de elegir entre cada uno, por medio de elementos dinámicos, listas de selección y JavaScript.</p>

                <h4>Proyecto Verificación de Coincidencias</h4>
                <p class="section-us__main-paragraph">Creación de dos formularios para verificar las coincidencias entre los nombres ingresados, utilizando HTML5, CSS3 y JavaScript.</p>

                <h4>Revista Digital Vive Caribe</h4>
                <p class="section-us__main-paragraph">Revisión y edición de contenidos de la revista digital, dentro de su página web, <a href="https://vivecaribe.co/" target="_blank" class="section-us__link">https://vivecaribe.co/</a>. Además de publicación de artículos a través de herramientas de programación (HTML5, CSS3 y JavaScript) y sistemas de gestión de contenido como WordPress y constructores de páginas Web como Elementor.</p>
                <p class="section-us__main-paragraph">Liderar el proyecto denominado “Imágenes de Identidad” que impulsó la divulgación cultural del Caribe colombiano a través de herramientas tecnológicas y que fue presentado ante el Programa Nacional de Concertación Cultural del Ministerio de Cultura, obteniendo aprobación y alcance. Después de su ejecución más de 140.000 personas accedieron al contenido digital, lo que permitió incrementar los aportes de la revista en un 60% en dos años.</p>
            </div>
        </section>